<ion-header class="ion-no-border main-header">
  <ion-toolbar class="main-toolbar">
    <div
      class="header-tool flex justify-between align-middle text-lg font-bold"
    >
      <a
        (click)="goBack()"
        class="back-btn flex justify-between align-middle ml-[.25rem] p-[.25rem] pl-1 pr-3 w-[5rem] rounded-full bg-slate-100"
      >
        <ion-icon
          name="arrow-back-circle-outline"
          size="large"
          color="dark"
        ></ion-icon>
        <span class="">กลับ</span>
      </a>
      <span class="mt-1 text-white mr-[1rem] text-xl"
        >คำขอเป็นเจ้าของหอพัก</span
      >
    </div>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  [scrollEvents]="true"
  class="minimal-style"
  (ionScroll)="onScroll($event)"
>
  <div class="background"></div>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="content-wrapper">
    <!-- Search -->
    <div class="searchbar-wrapper mb-3 bg-white rounded-xl shadow-sm py-2">
      <ion-searchbar
        mode="ios"
        placeholder="ค้นหาชื่อ, นามสกุล, ชื่อผู้ใช้..."
        [debounce]="500"
        (ionInput)="onSearchChange($event)"
        class="custom-searchbar px-2"
      ></ion-searchbar>
    </div>

    <!-- Filter -->
    <div class="mb-4 bg-white rounded-xl shadow-sm py-2 px-2">
      <ion-segment
        mode="md"
        [value]="selectedSegment()"
        (ionChange)="onSegmentChange($event)"
        color="dark"
        class="sagment-custom"
      >
        <ion-segment-button [value]="0">
          <ion-label color="dark">รออนุมัติ</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="1">
          <ion-label color="dark">อนุมัติแล้ว</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="2">
          <ion-label color="dark">ปฏิเสธ</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <ng-container *ngIf="requests().length === 0 && !isLoading()">
      <div
        class="warper flex flex-col items-center justify-center py-20 text-center"
      >
        <div
          class="mt-[6rem] bg-white/90 w-[80%] h-[10rem] rounded-lg shadow-sm flex flex-col justify-center items-center"
        >
          <ion-icon
            name="folder-open-outline"
            class="text-6xl text-gray-400 mb-4"
          ></ion-icon>
          <h2 class="text-[24px] font-bold text-gray-800">ยังไม่มีคำขอ</h2>
        </div>
      </div>
    </ng-container>

    <div class="grid grid-cols-1 gap-3">
      <div
        *ngFor="let req of requests()"
        (click)="openRequest(req)"
        class="minimal-req-card"
      >
        <div class="card-inner">
          <div class="avatar-wrapper">
            <img
              [src]="req.PROFILE_IMAGE"
              class="object-cover w-full h-full"
              *ngIf="req.PROFILE_IMAGE"
              (error)="handleImageError(req)"
            />
            <div
              class="w-full h-full flex items-center justify-center bg-gray-100"
              *ngIf="!req.PROFILE_IMAGE"
            >
              <ion-icon
                name="person-outline"
                class="text-xl text-gray-400"
              ></ion-icon>
            </div>
          </div>

          <div class="info-group">
            <div class="">
              <h2>{{ req.FIRST_NAME }} {{ req.LAST_NAME || '' }}</h2>
              <p class="text-sm">({{ req.USERNAME }})</p>
            </div>
            <div class="email-row">
              <ion-icon name="mail-outline"></ion-icon>
              <span class="truncate">{{ req.EMAIL }}</span>
            </div>
          </div>
          <div
            class="manage-action ml-auto"
            (click)="openManageActionSheet(req, $event)"
            *ngIf="selectedSegment() === 0"
          >
            <ion-button
              fill="clear"
              color="medium"
              class="m-0 h-10 w-10"
              shape="round"
            >
              <ion-icon
                name="ellipsis-vertical-outline"
                slot="icon-only"
                class="text-xl"
              ></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
      <div class="h-[4rem]"></div>
    </div>
  </div>

  <!-- Request Detail Modal -->
  <ion-modal
    [isOpen]="isModalOpen()"
    (didDismiss)="closeModal()"
    class="minimal-modal"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]"
  >
    <ng-template>
      <ion-content>
        <div
          class="modal-content-inner bg-gray-100"
          *ngIf="selectedRequest() as req"
        >
          <div
            class="absolute top-0 left-0 w-full h-[80px] flex justify-between align-middle"
          >
            <h1 class="text-xl font-bold ml-[1rem] flex items-center w-fit">
              ข้อมูลผู้ร้องขอ
            </h1>
            <ion-buttons slot="end" class="flex items-center mr-4">
              <ion-button
                (click)="closeModal()"
                color="dark"
                class="bg-gray-300 rounded-full w-14 h-14 mr-2 flex items-center justify-center"
              >
                <ion-icon name="close-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
          <div
            class="profile-section premium-card relative overflow-hidden mt-[5rem]"
          >
            <div
              class="avatar-large relative z-10 shadow-lg border-4 border-white"
            >
              <img
                [src]="req.PROFILE_IMAGE"
                *ngIf="req.PROFILE_IMAGE"
                (error)="handleModalImageError()"
              />
            </div>
            <h2 class="name relative z-10">
              {{ req.FIRST_NAME || req.USERNAME }} {{ req.LAST_NAME || '' }}
            </h2>
            <p class="handle relative z-10">&#64;{{ req.USERNAME }}</p>
          </div>

          <!-- Basic Info -->
          <div class="minimal-section-title mt-6">
            <div
              class="icon-bg bg-gray-300 text-black rounded-full p-1 mr-1 w-15 h-15"
            >
              <ion-icon
                name="person-outline"
                size="large"
                color="dark"
              ></ion-icon>
            </div>
            <span class="text-[16px]">ข้อมูลพื้นฐาน</span>
          </div>
          <div class="detail-group premium-card">
            <div
              class="row hover:bg-gray-50 transition-colors rounded-t-xl px-2"
            >
              <span class="label flex items-center gap-2"
                ><ion-icon
                  name="mail-outline"
                  style="font-size: 20px"
                ></ion-icon>
                อีเมล</span
              >
              <span class="val">{{ req.EMAIL }}</span>
            </div>
            <div
              class="row hover:bg-gray-50 transition-colors rounded-b-xl px-2"
            >
              <span class="label flex items-center gap-2"
                ><ion-icon
                  name="call-outline"
                  style="font-size: 20px"
                ></ion-icon>
                เบอร์โทรศัพท์</span
              >
              <span class="val">{{ req.PHONE_NUMBER }}</span>
            </div>
          </div>

          <!-- Social Links -->
          <div class="minimal-section-title mt-6">
            <div class="icon-bg bg-gray-300 text-black rounded-full p-1 mr-1">
              <ion-icon name="link-outline" style="font-size: 35px"></ion-icon>
            </div>
            <span class="text-[16px]">โซเชียลมีเดีย</span>
          </div>
          <div class="social-list">
            <div
              class="social-item"
              [class.disabled]="!req.FACEBOOK"
              (click)="openSocial(req.FACEBOOK, 'facebook')"
            >
              <ion-icon
                src="assets/icon/facebook.svg"
                class="text-gray-800"
              ></ion-icon>
              <div class="social-text">
                <span class="platform-name">Facebook</span>
                <span class="link-val" *ngIf="req.FACEBOOK"
                  >{{ req.FACEBOOK }}</span
                >
                <span class="link-val" *ngIf="!req.FACEBOOK">ไม่ได้ระบุ</span>
              </div>
            </div>
            <div
              class="social-item"
              [class.disabled]="!req.INSTAGRAM"
              (click)="openSocial(req.INSTAGRAM, 'instagram')"
            >
              <ion-icon
                src="assets/icon/instagram.svg"
                class="text-gray-800"
              ></ion-icon>
              <div class="social-text">
                <span class="platform-name">Instagram</span>
                <span class="link-val" *ngIf="req.INSTAGRAM"
                  >{{ req.INSTAGRAM }}</span
                >
                <span class="link-val" *ngIf="!req.INSTAGRAM">ไม่ได้ระบุ</span>
              </div>
            </div>
            <div
              class="social-item"
              [class.disabled]="!req.TELEGRAM"
              (click)="openSocial(req.TELEGRAM, 'telegram')"
            >
              <ion-icon
                src="assets/icon/telegram.svg"
                class="text-gray-800"
              ></ion-icon>
              <div class="social-text">
                <span class="platform-name">Telegram</span>
                <span class="link-val" *ngIf="req.TELEGRAM"
                  >{{ req.TELEGRAM }}</span
                >
                <span class="link-val" *ngIf="!req.TELEGRAM">ไม่ได้ระบุ</span>
              </div>
            </div>
            <div
              class="social-item"
              [class.disabled]="!req.LINE"
              (click)="openSocial(req.LINE, 'line')"
            >
              <ion-icon
                src="assets/icon/line.svg"
                class="text-gray-800"
              ></ion-icon>
              <div class="social-text">
                <span class="platform-name">Line</span>
                <span class="link-val" *ngIf="req.LINE">{{ req.LINE }}</span>
                <span class="link-val" *ngIf="!req.LINE">ไม่ได้ระบุ</span>
              </div>
            </div>
            <div
              class="social-item"
              [class.disabled]="!req.X"
              (click)="openSocial(req.X, 'x')"
            >
              <ion-icon
                src="assets/icon/x.svg"
                class="text-gray-800"
                style="font-size: 20px"
              ></ion-icon>
              <div class="social-text">
                <span class="platform-name">X (Twitter)</span>
                <span class="link-val" *ngIf="req.X">{{ req.X }}</span>
                <span class="link-val" *ngIf="!req.X">ไม่ได้ระบุ</span>
              </div>
            </div>
          </div>

          <!-- Management Section -->
          <div class="management-section mt-4" *ngIf="selectedSegment() === 0">
            <div class="btn-group">
              <ion-button (click)="reject()" class="reject-btn" fill="clear">
                ปฏิเสธ
              </ion-button>

              <ion-button (click)="approve()" class="approve-btn" fill="solid">
                อนุมัติ
              </ion-button>
            </div>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="showScrollBtn()"
  >
    <ion-fab-button (click)="scrollToTop()" class="scroll-top-btn">
      <ion-icon name="arrow-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-loading-ui *ngIf="isLoading()"></app-loading-ui>
</ion-content>
