<div class="footer-container">
  <div
    class="w-[100%] h-12 flex justify-between rounded-xl pl-3 pr-3 bg-slate-300 shadow-[inset_0_2px_6px_rgba(0,0,0,0.25)]"
    style="align-items: center"
  >
    <div class="mt-2" (click)="onHomeClick()">
      <div class="circle-bg">
        <ion-icon name="home-outline" color="light"></ion-icon>
      </div>
    </div>
    <div class="mt-2" (click)="onMenuClick()">
      <ion-icon name="grid-outline" color="light"></ion-icon>
    </div>
    <div
      class="nav-item auth-item"
      *ngIf="!isLoggedIn()"
      (click)="onLoginClick()"
    >
      <div class="text-group">
        <span class="text-blue-700 underline">เข้าสู่ระบบ</span>
      </div>
    </div>

    <div
      class="nav-item auth-item mt-2"
      *ngIf="isLoggedIn()"
      (click)="onAccountClick()"
    >
      <div class="text-group">
        <ion-icon name="person-circle-outline" color="light"></ion-icon>
      </div>
    </div>
  </div>
</div>
