<div class="footer-container">
  <div class="nav-item" (click)="onHomeClick()" [class.active]="currentPath() === '/' || currentPath() === ''">
    <ion-icon name="home-outline"></ion-icon>
  </div>
  
  <div class="nav-item" (click)="onMenuClick()">
    <ion-icon name="grid-outline"></ion-icon>
  </div>

  <div class="nav-item" *ngIf="!isLoggedIn()" (click)="onLoginClick()" [class.active]="currentPath().includes('login')">
    <ion-icon name="log-in-outline"></ion-icon>
  </div>

  <div class="nav-item" *ngIf="isLoggedIn()" (click)="onAccountClick()" [class.active]="currentPath().includes('profile')">
    <ion-icon name="person-circle-outline"></ion-icon>
  </div>
</div>
