<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>จัดการประเภท</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [value]="selectedSegment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="dorm">
        <ion-label>ประเภทหอพัก</ion-label>
      </ion-segment-button>
      <ion-segment-button value="room">
        <ion-label>ประเภทห้องพัก</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <!-- Dorm Type Section -->
  <div *ngIf="selectedSegment === 'dorm'">
    <ion-item>
      <ion-input label="เพิ่มประเภทหอพักใหม่" labelPlacement="floating" [(ngModel)]="newDormTypeName" placeholder="กรอกชื่อประเภท..."></ion-input>
      <ion-button slot="end" (click)="addDormType()" [disabled]="!newDormTypeName.trim()">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        เพิ่ม
      </ion-button>
    </ion-item>
    
    <ion-list class="ion-margin-top">
      <ion-item-divider>
        <ion-label>รายการประเภทหอพักที่มีอยู่</ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let type of dormTypes">
        <ion-label>{{ type.name }}</ion-label>
        <ion-button slot="end" color="danger" fill="clear" (click)="confirmDeleteDormType(type)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item *ngIf="dormTypes.length === 0">
        <ion-label color="medium" class="ion-text-center">ไม่มีข้อมูลประเภทหอพัก</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- Room Type Section -->
  <div *ngIf="selectedSegment === 'room'">
    <ion-item>
      <ion-input label="เพิ่มประเภทห้องพักใหม่" labelPlacement="floating" [(ngModel)]="newRoomTypeName" placeholder="กรอกชื่อประเภท..."></ion-input>
      <ion-button slot="end" (click)="addRoomType()" [disabled]="!newRoomTypeName.trim()">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        เพิ่ม
      </ion-button>
    </ion-item>
    
    <ion-list class="ion-margin-top">
      <ion-item-divider>
        <ion-label>รายการประเภทห้องพักที่มีอยู่</ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let type of roomTypes">
        <ion-label>{{ type.name }}</ion-label>
        <ion-button slot="end" color="danger" fill="clear" (click)="confirmDeleteRoomType(type)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item *ngIf="roomTypes.length === 0">
        <ion-label color="medium" class="ion-text-center">ไม่มีข้อมูลประเภทห้องพัก</ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
