<ion-content [fullscreen]="true">
  <div class="background-container"></div>

  <div class="content-wrapper">
    <div class="logo-container">
      <div class="logo-circle">
        <img src="assets/icon/logo.png" alt="HuntPuk Logo" />
      </div>
    </div>

    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <ion-input
          mode="md"
          placeholder="อีเมล"
          formControlName="email"
          class="custom-input"
        >
          <ion-icon name="person" slot="end" color="medium"></ion-icon>
        </ion-input>
      </div>

      <div class="input-group">
        <ion-input
          mode="md"
          type="password"
          placeholder="รหัสผ่าน"
          formControlName="password"
          class="custom-input"
        >
          <ion-input-password-toggle
            slot="end"
            color="medium"
            class="!-mr-3"
          ></ion-input-password-toggle>
        </ion-input>
      </div>

      <div class="forgot-password text-right">
        <a routerLink="/forgotPasswd">ลืมรหัสผ่าน?</a>
      </div>

      <ion-button
        type="submit"
        expand="block"
        class="login-btn"
        [disabled]="loginForm.invalid"
      >
        เข้าสู่ระบบ
      </ion-button>

      <div class="register-text">
        ยังไม่มีบัญชี?
        <span class="highlight"><a routerLink="/register">สมัครสมาชิก</a></span>
      </div>

      <ion-button class="skip-btn" fill="clear" routerLink="/">
        <span>ข้าม</span>
        <div class="icon-wrapper">
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </div>
      </ion-button>
    </form>
    <div class="bottom-spacer"></div>
  </div>

  <ion-toast
    [isOpen]="errMsg() !== null"
    [message]="errMsg()"
    [duration]="5000"
    color="danger"
    position="bottom"
  ></ion-toast>
</ion-content>

<app-loading-ui *ngIf="isLoading()"></app-loading-ui>
