<ion-content [fullscreen]="true">
  <div class="background-container">
    <div class="dark-shape"></div>
  </div>

  <div class="content-wrapper  mt-10">
    <div class="logo-container">
      <div class="logo-circle">
        <img src="assets/icon/logo.png" alt="Logo" />
      </div>
    </div>

    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <ion-input
          mode="md"
          placeholder="อีเมล"
          labelPlacement="stacked"
          formControlName="email"
          errorText="รูปแบบอีเมลไม่ถูกต้อง"
          class="custom-input"
        >
          <ion-icon
            name="person"
            slot="end"
            class="text-2xl pr-2"
            color="medium"
          ></ion-icon>
        </ion-input>
      </div>

      <div class="input-group">
        <ion-input
          mode="md"
          type="password"
          labelPlacement="stacked"
          errorText="invalid password"
          placeholder="รหัสผ่าน"
          formControlName="password"
          class="custom-input"
        >
          <ion-input-password-toggle
            slot="end"
            class="-mb-5 -mt-5"
            color="medium"
          ></ion-input-password-toggle>
        </ion-input>
      </div>

      <div class="forgot-password text-right mt-3">
        <a routerLink="/forget-password"><b class="text-lg">ลืมรหัสผ่าน</b></a>
      </div>

      <ion-button
        type="submit"
        expand="block"
        class="login-btn"
        shape="round"
        [disabled]="loginForm.invalid"
      >
        เข้าสู่ระบบ
      </ion-button>

      <div class="register-text mb-10">
        ยังไม่มีบัญชี?&emsp;<span class="highlight"
          ><a routerLink="/register" class="text-lg">สมัครสมาชิก</a></span
        >
      </div>

      <ion-button class="skip-btn ml-52 mt-4 " fill="clear" routerLink="/" slot="end">
        <span class="label">ข้าม</span>

        <span class="icon-wrapper">
          <ion-icon
            name="arrow-forward-circle-outline"
            size="large"
            color="medium"
          ></ion-icon>
        </span>
      </ion-button>
    </form>
  </div>
  <ion-toast
    [isOpen]="errMsg() !== null"
    [message]="errMsg()"
    [duration]="5000"
    color="danger"
    position="bottom"
  ></ion-toast>
</ion-content>

<app-loading-ui *ngIf="isLoading()" ></app-loading-ui>
