<div class="overlay" (click)="closePopup()"></div>

<div class="popup">
  <button class="close-btn" (click)="closePopup()">
    <ion-icon name="close-outline" size="large"></ion-icon>
  </button>
  
  <h2 class="title">ยืนยันตัวตน</h2>
  
  <div class="form-box">
    <ion-input
      placeholder="อีเมล"
      type="email"
      class="custom-input mb-2"
      [formControl]="emailCtl"
    >
      <ion-icon name="mail" slot="end"></ion-icon>
    </ion-input>
    
    <span
      class="text-xs text-red-600 pl-4 mb-2 block"
      *ngIf="emailCtl.invalid && emailCtl.touched"
    >
      กรุณากรอกอีเมลให้ถูกต้อง
    </span>

    <div class="otp-row">
      <div class="otp-input-wrapper">
        <ion-input
          placeholder="รหัส OTP"
          type="text"
          class="custom-input"
          [formControl]="otpCtl"
        ></ion-input>
      </div>

      <ion-button
        fill="outline"
        class="otp-btn"
        [disabled]="isCounting()"
        (click)="sendOtp()"
      >
        <ng-container *ngIf="!isCounting(); else counting">
          ส่งคำขอ
        </ng-container>

        <ng-template #counting> ขอใหม่ ({{ countdown() }}s) </ng-template>
      </ion-button>
    </div>

    <span
      class="text-xs text-red-600 pl-4 mt-1 block"
      *ngIf="otpCtl.invalid && otpCtl.touched"
    >
      กรุณากรอกให้ครบ 6 ตัว
    </span>
    
    <ion-button
      expand="block"
      class="confirm-btn"
      (click)="confirm()"
      [disabled]="emailCtl.invalid || otpCtl.invalid"
    >
      ยืนยัน
    </ion-button>
  </div>
  
  <ion-toast
    [isOpen]="errMsg() !== null"
    [message]="errMsg()"
    [duration]="5000"
    color="danger"
    position="bottom"
  ></ion-toast>
</div>
<app-loading-ui *ngIf="isLoading()"></app-loading-ui>
