<ion-header class="ion-no-border main-header">
  <ion-toolbar class="main-toolbar">
    <div
      class="header-tool flex justify-between align-middle text-lg font-bold"
    >
      <a
        (click)="goBack()"
        class="back-btn flex justify-between align-middle ml-[.25rem] p-[.25rem] pl-1 pr-3 w-[5rem] rounded-full bg-slate-100"
      >
        <ion-icon name="arrow-back-circle-outline" size="large"></ion-icon>
        <span class="">กลับ</span>
      </a>
      <span class="mt-1 text-white mr-[1rem] text-xl">แก้ไขข้อมูลส่วนตัว</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="profile-content minimal-style">
  <div class="background-container"></div>

  <div class="content-wrapper">
    <form
      [formGroup]="updateForm"
      (ngSubmit)="confirmUpdate()"
      class="info-section"
    >
      <ion-list lines="none" class="minimal-list">
        <ion-item class="highlight-item">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label position="stacked">ชื่อผู้ใช้</ion-label>
          <ion-input
            type="text"
            placeholder="Username"
            formControlName="username"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon
            name="call-outline"
            slot="start"
            class="!mt-[2.3rem]"
          ></ion-icon>
          <ion-label position="stacked">เบอร์โทรศัพท์</ion-label>
          <ion-input
            type="tel"
            placeholder="0xx-xxx-xxxx"
            formControlName="phone_number"
          ></ion-input>
        </ion-item>
      </ion-list>

      <div class="save-section">
        <ion-button
          expand="block"
          fill="solid"
          class="save-btn"
          type="submit"
          [disabled]="updateForm.invalid"
        >
          บันทึกข้อมูล
        </ion-button>
      </div>
    </form>

    <div class="bottom-spacer"></div>
  </div>

  <ion-toast
    [isOpen]="succMsg() !== null"
    [message]="succMsg()"
    [duration]="5000"
    color="success"
    position="bottom"
  ></ion-toast>
  <ion-toast
    [isOpen]="errMsg() !== null"
    [message]="errMsg()"
    [duration]="5000"
    color="danger"
    position="bottom"
  ></ion-toast>

  <app-loading-ui *ngIf="isLoading()"></app-loading-ui>
</ion-content>
