// กำหนดสีหลักตามภาพ
:host {
  --app-dark-bg: #333333;    // สีเทาเข้มด้านบน
  --app-yellow: #ffcc00;      // สีเหลือง
  --card-top-bg: #b0b0b0;     // สีเทาของส่วนบนการ์ด
  --input-bg: #ffffff;        // สีพื้นหลัง input
  --link-blue: #4a4aff;       // สีลิงก์
}


ion-content.profile-content {
  --background: var(--app-dark-bg);
  position: relative;

  .yellow-shape-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%; 
    background-color: var(--app-yellow);
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
    z-index: 0;
  }

  // Container หลักสำหรับเนื้อหา
  .content-container {
    position: relative;
    z-index: 1; // ให้อยู่เหนือ shape สีเหลือง
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }
}

// สไตล์ของ Card ตรงกลาง
.profile-card {
  width: 90%;
  height: 25rem;
  max-width: 400px;
  border-radius: 25px;
  padding: 30px 20px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  margin-top: 10rem;
  margin-bottom: 5rem;
  // border: 1px solid red;

  .input-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    // ปุ่มแก้ไขด้านข้าง input
    .edit-icon-btn {
      --padding-start: 8px;
      --padding-end: 8px;
      margin: 0;
      font-size: 20px;
    }
  }

  // Wrapper ของตัว Input สีขาว
  .custom-input-wrapper {
    flex: 1; // ขยายเต็มพื้นที่ที่เหลือ
    background: var(--input-bg);
    border-radius: 12px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    // ตัว html input
    input {
      flex: 1;
      border: none;
      outline: none;
      background: transparent;
      padding: 10px 5px;
      font-size: 16px;
      font-weight: bold;
      color: #666;

      &::placeholder {
        color: #aaa;
        font-weight: normal;
      }
    }

    ion-icon {
      font-size: 24px;
    }
  }

  .forgot-pass-link {
    text-align: center;
    margin-top: 20px;
    a {
      color: var(--link-blue);
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
    }
  }
}

.bottom-actions {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 20px;

  .action-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-weight: bold;

    ion-icon {
      font-size: 40px;
      margin-bottom: 10px;
    }

    span {
      font-size: 18px;
    }
  }
}

ion-button{
  --background: var(--app-yellow)
}