
:root {
  /** primary **/
  --ion-color-primary: #ffcc00;
  --ion-color-primary-rgb: 255, 204, 0;
  --ion-color-primary-contrast: #333333;
  --ion-color-primary-contrast-rgb: 51, 51, 51;
  --ion-color-primary-shade: #e0b400;
  --ion-color-primary-tint: #ffd11a;

  /** secondary **/
  --ion-color-secondary: #555555;
  --ion-color-secondary-rgb: 75, 85, 99;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #424b57;
  --ion-color-secondary-tint: #5d6673;

  /** tertiary **/
  --ion-color-tertiary: #9ca3af;
  --ion-color-tertiary-rgb: 156, 163, 175;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #898f9a;
  --ion-color-tertiary-tint: #a6acb7;

  /** success **/
  --ion-color-success: #10b981;
  /** warning **/
  --ion-color-warning: #f59e0b;
  /** danger **/
  --ion-color-danger: #ef4444;
  
  /** dark **/
  --ion-color-dark: #333333;
  --ion-color-dark-rgb: 51, 51, 51;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #2d2d2d;
  --ion-color-dark-tint: #474747;

  /** medium **/
  --ion-color-medium: #6b7280;
  /** light **/
  --ion-color-light: #f3f4f6;
}

body {
  --ion-background-color: #f9fafb;
  --ion-text-color: #333333;
}
