<div class="filter-group-container">
  <div class="row-1" *ngIf="showSearch">
    <div class="search-wrapper" *ngIf="showSearch">
      <ion-searchbar
        [(ngModel)]="searchQuery"
        placeholder="ค้นหาชื่อหอพัก หรือ โซน..."
        mode="ios"
        class="custom-search"
        (keyup.enter)="onEnter()"
        (ionInput)="onInput($event)"
        (ionClear)="onClear()"
        (ionFocus)="onFocus()"
        (ionBlur)="onBlur()"
      ></ion-searchbar>

      <!-- Autocomplete Dropdown -->
      <ng-container
        *ngIf="showSuggestions && suggestions.length > 0 && showAutoComplete"
      >
        <ion-list class="autocomplete-list">
          <ion-item
            button
            *ngFor="let dorm of suggestions"
            (click)="selectSuggestion(dorm.DORM_NAME)"
          >
            <ion-icon name="location-outline" slot="start"></ion-icon>
            <ion-label>
              <h3>{{ dorm.DORM_NAME }}</h3>
              <p>{{ dorm.zone }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ng-container>
    </div>
  </div>

  <ng-container *ngIf="showFilter || showCompare">
    <div class="row-2">
      <div class="btn-tooltip-wrapper" *ngIf="showFilter">
        <ion-button
          class="action-btn filter-btn"
          title="กรอง"
          (click)="goToFilter()"
          (touchstart)="startPress('filter')"
          (touchend)="endPress()"
          (mousedown)="startPress('filter')"
          (mouseup)="endPress()"
          (mouseleave)="endPress()"
        >
          <ion-icon name="funnel-outline" slot="start"></ion-icon>
        </ion-button>
        <div class="custom-tooltip" *ngIf="activeTooltip === 'filter'">
          กรอง
        </div>
      </div>

      <div class="btn-tooltip-wrapper" *ngIf="showCompare">
        <ion-button
          class="action-btn compare-btn"
          title="เปรียบเทียบ"
          (click)="goToCompare()"
          (touchstart)="startPress('compare')"
          (touchend)="endPress()"
          (mousedown)="startPress('compare')"
          (mouseup)="endPress()"
          (mouseleave)="endPress()"
        >
          <ion-img src="assets/icon/compare.png" slot="start"></ion-img>
        </ion-button>
        <div class="custom-tooltip" *ngIf="activeTooltip === 'compare'">
          เปรียบเทียบ
        </div>
      </div>

      <div class="btn-tooltip-wrapper" *ngIf="showSortByName">
        <div class="action-btn sort-btn custom-sort-container">
          <ion-icon
            name="swap-horizontal-outline"
            class="custom-sort-icon"
          ></ion-icon>
          <ion-select
            interface="popover"
            [interfaceOptions]="{ cssClass: 'sort-popover' }"
            [(ngModel)]="activeSortOption"
            (ionChange)="onSortOptionChange()"
            class="custom-sort-select"
          >
            <ion-select-option value="char_asc">ก-ฮ</ion-select-option>
            <ion-select-option value="char_desc">ฮ-ก</ion-select-option>
            <ion-select-option value="price_asc"
              >ราคา: น้อย-มาก</ion-select-option
            >
            <ion-select-option value="price_desc"
              >ราคา: มาก-น้อย</ion-select-option
            >
            <ion-select-option value="score_desc"
              >คะแนน: มาก-น้อย</ion-select-option
            >
            <ion-select-option value="score_asc"
              >คะแนน: น้อย-มาก</ion-select-option
            >
          </ion-select>
        </div>
        <div class="custom-tooltip" *ngIf="activeTooltip === 'sort'">
          เรียงลำดับ
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ion-modal
  [isOpen]="isFilterModalOpen"
  (didDismiss)="isFilterModalOpen = false"
  class="custom-filter-modal"
>
  <ng-template>
    <div class="sheet-content-wrapper">
      <ion-button
        fill="clear"
        class="close-sheet-btn"
        (click)="isFilterModalOpen = false"
      >
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>

      <div class="sheet-content">
        <div class="custom-field">
          <label class="field-label">เลือกโซน</label>
          <select [(ngModel)]="selectedZone" class="native-input-elem">
            <option value="">ทุกโซน</option>
            <option *ngFor="let zone of zones" [value]="zone.ZONE_ID">
              {{ zone.ZONE_NAME }}
            </option>
          </select>
        </div>

        <div class="custom-field" *ngIf="role()">
          <label class="field-label">คะแนนรีวิว</label>
          <select [(ngModel)]="selectedScore" class="native-input-elem">
            <option [ngValue]="null">ทุกคะแนน</option>
            <option [ngValue]="1">1 ดาว</option>
            <option [ngValue]="2">2 ดาว</option>
            <option [ngValue]="3">3 ดาว</option>
            <option [ngValue]="4">4 ดาว</option>
            <option [ngValue]="5">5 ดาว</option>
          </select>
        </div>

        <div class="price-range-container">
          <p class="section-title">ช่วงราคา (บาท/เดือน)</p>
          <div class="price-inputs">
            <div class="custom-field flex-1">
              <label class="field-label">ต่ำสุด</label>
              <input
                type="number"
                [(ngModel)]="minPrice"
                placeholder="เช่น 2000"
                class="native-input-elem"
              />
            </div>
            <span class="price-divider pb-5">-</span>
            <div class="custom-field flex-1">
              <label class="field-label">สูงสุด</label>
              <input
                type="number"
                [(ngModel)]="maxPrice"
                placeholder="เช่น 5000"
                class="native-input-elem"
              />
            </div>
          </div>
        </div>

        <!-- Water and Electric Rate Filters -->
        <div class="price-range-container" *ngIf="role()">
          <div class="price-inputs">
            <div class="custom-field flex-1">
              <label class="field-label">ค่าน้ำ (บาท/หน่วย)</label>
              <input
                type="number"
                [(ngModel)]="maxWater"
                placeholder="เช่น 20"
                class="native-input-elem"
              />
            </div>
            <span class="price-divider"></span>
            <div class="custom-field flex-1">
              <label class="field-label">ค่าน้ำ (เหมาจ่าย)</label>
              <input
                type="number"
                [(ngModel)]="maxWaterLump"
                placeholder="เช่น 100"
                class="native-input-elem"
              />
            </div>
          </div>
          <div class="price-inputs">
            <div class="custom-field flex-1">
              <label class="field-label">ค่าไฟ (บาท/หน่วย)</label>
              <input
                type="number"
                [(ngModel)]="maxElect"
                placeholder="เช่น 8"
                class="native-input-elem mt-1"
              />
            </div>
            <span class="price-divider invisible"></span>
            <div class="custom-field flex-1 mt-[0.5rem] invisible"></div>
          </div>
        </div>

        <div class="modal-actions">
          <ion-button fill="clear" class="clear-btn" (click)="clearFilters()"
            >ล้างค่า</ion-button
          >
          <ion-button class="apply-btn" (click)="applyFilters()"
            >ดูผลลัพธ์</ion-button
          >
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>
