<ion-content [fullscreen]="true">
  <div class="background-container">
  </div>

  <div class="content-wrapper">
    <div class="header-container">
      <h1>{{ authSv.currentUserValue?.role === 3 ? 'เพิ่มสมาชิก' : 'สมัครสมาชิก' }}</h1>
    </div>
    
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="register-form"
    >
      <div class="input-group">
        <ion-input
          mode="md"
          placeholder="ชื่อผู้ใช้"
          formControlName="username"
          class="custom-input"
          errorText="โปรดป้อนชื่อผู้ใช้"
        >
          <ion-icon slot="end" name="person" color="medium"></ion-icon>
        </ion-input>
      </div>

      <div class="input-group">
        <ion-input
          mode="md"
          type="email"
          placeholder="อีเมล"
          formControlName="email"
          class="custom-input"
          errorText="โปรดป้อนอีเมลผู้ใช้"
        >
          <ion-icon slot="end" name="mail" color="medium"></ion-icon>
        </ion-input>
      </div>

      <div class="input-group">
        <ion-input
          mode="md"
          type="password"
          placeholder="รหัสผ่าน"
          formControlName="password"
          class="custom-input"
          helperText="รหัสผ่านต้องมีอย่างน้อย 8 ตัวอักษร"
          errorText="โปรดป้อนรหัสผ่านอย่างน้อย 8 ตัว"
          counter="true"
        >
          <ion-input-password-toggle slot="end" color="medium"></ion-input-password-toggle>
        </ion-input>
      </div>

      <div class="input-group">
        <ion-input
          mode="md" 
          type="password"
          placeholder="รหัสผ่านอีกครั้ง"
          formControlName="confirmPassword"
          class="custom-input"
          helperText="รหัสผ่านต้องมีอย่างน้อย 8 ตัวอักษร"
          errorText="โปรดป้อนรหัสผ่านอย่างน้อย 8 ตัว"
        >
          <ion-input-password-toggle slot="end" color="medium"></ion-input-password-toggle>
        </ion-input>
        <span
          class="error-message"
          *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched"
        >
          รหัสผ่านไม่ตรงกัน
        </span>
      </div>

      <div class="input-group">
        <ion-input
          mode="md"
          type="tel"
          placeholder="เบอร์โทรศัพท์"
          formControlName="phone"
          class="custom-input"
          errorText="โปรดป้อนเบอร์โทรศัพท์"
        >
          <ion-icon slot="end" name="call" color="medium"></ion-icon>
        </ion-input>
      </div>

      <div class="footer-action">
        <ion-button fill="clear" class="nav-btn back-btn" (click)="backBtnClicked()" [hidden]="nextBtnHidden()">
          <ion-icon name="arrow-back-circle-outline" slot="start" color="medium"></ion-icon>
          กลับ
        </ion-button>

        <ion-button
          type="submit"
          fill="clear"
          class="nav-btn next-btn"
          [disabled]="registerForm.invalid"
          [hidden]="nextBtnHidden()"
        >
          ถัดไป
          <ion-icon name="arrow-forward-circle-outline" slot="end" color="medium"></ion-icon>
        </ion-button>
      </div>
    </form>
  </div>
  <ion-toast
    [isOpen]="errMsg() !== null"
    [message]="errMsg()"
    [duration]="5000"
    color="danger"
    position="bottom"
  ></ion-toast>

  <ion-toast
    [isOpen]="succMsg() !== null"
    [message]="succMsg()"
    [duration]="5000"
    color="success"
    position="bottom"
  ></ion-toast>
  <app-loading-ui *ngIf="isLoading()"></app-loading-ui>
  <app-otp-verify *ngIf="isOpenPopUpVerify()" (close)="closeOTP_popup()" (resVerifyStatus)="getVerify($event)"></app-otp-verify>
</ion-content>
